body {
    color: #293432;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    color: #432a66;
    font-size: 6.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
  }

  .abv-img {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.625rem;
  }
  
  h2 {
    color: #432a66;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h3 {
    color: #432a66;
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    line-height: 2;
  }
  
  hr {
    border: dotted #404343 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  
  a{
    color: #432a66;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #EAF6F6;
  }
  
  .top-container {
    /* background: url(image/bg-images/bg-purple1.png); */
    
    background-color: #94729e99;
    position: relative;
    padding-top: 100px;
    padding-bottom: 75px;

  }
  
  .middle-container {
    margin: 10px 0;
  }
  
  .bottom-container {
    margin-top: 75px;
    background-color: #94729e99;
    padding: 50px 0 20px;
  }
  
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  
  .pro {
    text-decoration: underline;
  }
  
  .intro {
    width: 45%;
    margin: auto;
  }
  
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  .copyright {
    color: #432a66;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
  }
  
  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  
  .chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  
  .btn {
    border-radius: 5px;
    font-family: 'Montserrat';
    color: #293432;
    font-size: 20px;
    background: #94729e99;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    margin-bottom: 600px;
  }
  
  .btn:hover {
    background: #674188;
    background-image: -webkit-linear-gradient(top, #674188, #8b5ab6);
    background-image: -moz-linear-gradient(top, #674188, #8b5ab6);
    background-image: -ms-linear-gradient(top, #674188, #8b5ab6);
    background-image: -o-linear-gradient(top, #674188, #8b5ab6);
    background-image: linear-gradient(to bottom, #674188, #8b5ab6);
    text-decoration: none;
    color: #FFFBF5;
}

  

  .image {
    width: 200px; /* Set the width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Maintain aspect ratio while covering */
}
